body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top-banner {
    background-image: url(images/donation6.jpg);
    padding-bottom: 450px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.top-banner h1 {
    font-size: 70px;
    padding: 190px 30px 0px 15px;
}

.top-banner h3 {
    font-weight: 100;
    padding-bottom: 60px;
}

.top-banner a {
    color: white;
    background-image: linear-gradient(orange, red, yellow);
    padding: 20px;
    font-weight: 700;
    margin: 75px;
    border-radius: 10px;
}

.donate-today {
    text-align: center;
    margin-bottom: 150px;
}

.donate-today a {
    color: white;
    background-image: linear-gradient(orange, red, yellow);
    padding: 20px;
    font-weight: 700;
    margin: 75px;
    border-radius: 10px;
}

.taka-number {
    font-size: 25px;
    font-family: oswald;
    font-weight: 200;
    color: darkgrey;
    display: inline-block;
    padding: 25px;
}

.box-taka {
    color: red;
    background-image: linear-gradient(ivory, pink, azure);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border: 2px solid red;
    border-radius: 5px;
}

.donate-today p {
    font-family: brush script;
}

#other-amount {
    font-size: 25px;
    color: dimgray;
    text-decoration: underline;
    text-decoration-color: dimgray;
    text-decoration-style: dashed;
    padding-bottom: 50px;
}

.donation-plan3 {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 75px;
}

.donation-plan {
    text-align: center;
    margin-bottom: 150px;
}

.donation-plan h1 {
    font-size: 60px;
    padding-top: 65px;
}

#donate-plan-mainp {
    font-family: brush script;
    font-size: 22px;
    padding-top: 0;
    padding-bottom: 30px;
}

#plan1 {
    background-color: aliceblue;
    padding: 25px;
    border-radius: 10px;
}

#plan2 {
    background-color: mistyrose;
    padding: 25px;
    border-radius: 10px;
    margin-left: 20px;
}

#plan3 {
    background-color: moccasin;
    padding: 25px;
    border-radius: 10px;
    margin-left: 20px;
}

.bonus-section {
    display: flex;
    margin-bottom: 75px;
}

#bonus-part1 {
    margin-left: 100px;
}

#bonus-part2 {
    margin-right: 100px;
}

.methodC {
    color: white;
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    border-top: 30px solid white;
}

.get-my-update {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 80px;
}

.form-section {
    height: 100px;
    width: 800px;
    background-color: #FFF4D6;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 6%;
    padding-top: 6%;
}

#email {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 5px;
}

#subscribe {
    background-color: #FF5959;
    padding: 10PX;
    border-radius: 5px;
}

.last-word {
    text-align: center;
    background-color: black;
    padding: 40px;
}

.last-word h1 {
    color: #FF5959;
    font-family: cursive;
}

.last-word p {
    color: white;
}